.section2 {
  width: 100%;
  height: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;

  .info {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    h2 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -0.04em;
      color: #000000;
    }

    button {
      width: 200px;
      height: 60px;
      left: 1160px;
      top: 950px;
      background: #E7FAFE;
      border-radius: 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;
      color: #000000;
      border: none;
    }
  }

  .products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    div {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      justify-content: center;


      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #000000;
      }
    }

    .breakfast,
    .vegan,
    .meat,
    .dessert,
    .luch,
    .chocolate {
      width: 180px;
      height: 162px;
      background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
      border-radius: 30px;
    }

    .vegan {
      background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
    }

    .meat {
      background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
    }

    .dessert{
      background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
    }

    .luch{
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    }

    .chocolate{
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    }
  }
}