header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

  nav {
    display: flex;
    gap: 60px;


    li {
      list-style: none;
    }

    a {
      text-align: center;
      text-decoration: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;
      color: #000000;
    }
  }

  .social {
    display: flex;
    gap: 30px;
  }

}