.dashboard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;

  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.02em;
    color: #ADB3CC;
  }

  .between {
    display: flex;
    justify-content: space-between;

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: #55597D;
      flex: none;
      order: 1;
      flex-grow: 0;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #ADB3CC;
      }

      span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.02em;
        color: #585F80;
      }
    }
  }

  .flexBox {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 30px;

    .boxx,
    .tolqin {
      width: 318px;
      height: 197px;
      background: #1A1E30;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      cursor: pointer;

      .head {
        display: flex;
        justify-content: space-between;

        span {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.02em;
          color: #ADB3CC;
        }
      }

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 58px;
        line-height: 70px;
        letter-spacing: -0.02em;
        color: #17B1EA;
      }

      .btw {
        display: flex;
        justify-content: space-between;

        span {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.02em;
          color: #00DE73;
        }
      }
    }

    .tolqin {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #ADB3CC;
      }

      img {
        width: 100%;
      }
    }
  }

  .users {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .statistic {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #ADB3CC;
      }

      span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.02em;
        color: #585F80;
      }
    }

    span {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: #55597D;
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }

  .sites {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 90px;

    span {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: #ADB3CC;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: #585F80;
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }
}