.section-3 {
  width: 100%;
  height: auto;
  padding: 80px;
}

.obsh {
  display: flex;
  flex-direction: column;
}

.nomi {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
  }

  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

}

.gridd {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 434px 434px 434px;
  gap: 30px;
  justify-content: center;
  margin-top: 80px;

  div {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border-radius: 30px;

  }

}

.yoz {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 30px;


  p {
    position: absolute;
    width: 352px;
    height: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #000000;
  }


  img {
    width: 24px;
    height: 24px;
  }


  .qoshiq {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-top: 80px;


    p {

      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: rgba(0, 0, 0, 0.6);
      padding-left: 30px;
      padding-top: 4px;
    }

  }
}